<h2 class="ui center aligned icon header">
  <i class="circular glass martini orange icon"></i>
    Cheers!
</h2>
<div class="ui grid">
    <div class="twelve wide column">
        <%= render 'chatbox'%>
    </div>
    <div class="four wide column">
        <%= render 'users'%>
    </div>
</div>
