@import 'semantic-ui';

.chat_box{
    height: 450px;
}

.nodeco{
    text-decoration: none;
}

.white-text{
    color: white;
}
.white-text:hover{
    color: white;
}
#message-scroll{
    height: 15em;
    overflow: auto;
}